{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            {{ form_start(form, {
                'attr' : {'class' : 'form-horizontal'}
            }) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first, {
                'label' : 'Votre nouveau mot de passe'
            }) }}
            {{ form_row(form.plainPassword.second, {
                'label' : 'Confirmation'
            }) }}
            {{ form_row(form.resetPassword) }}
            <button type="submit" class="btn btn-lg btn-primary center-block" formnovalidate>Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
