<div class="col-xs-12 col-sm-2">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="menuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-bars" aria-hidden="true"></span> Admin
        </button>
        <ul class="dropdown-menu" aria-labelledby="menuAdmin">
            <li class="dropdown-header"><span class="fa fa-user" aria-hidden="true"></span> Utilisateurs</li>
            <li><a href="{{ path('admin_naturalistes_attente_list') }}"> Naturalistes en attente</a></li>
            <li><a href="{{ path('admin_signalements_list') }}"> Signalements</a></li>
            <li><a href="{{ path('admin_users_list') }}"> Listing utilisateurs</a></li>
            <li class="dropdown-header"><span class="fa fa-camera-retro" aria-hidden="true"></span> Observations</li>
            <li><a href="{{ path('admin_obs_list') }}"> Liste observations</a></li>
            <li><a href="{{ path('admin_obs_validated_list') }}"> Observations validées</a></li>
            <li><a href="{{ path('admin_obs_refused_list') }}"> Observations refusées</a></li>
            <li class="dropdown-header"><span class="fa fa-pencil" aria-hidden="true"></span> SEO</li>
            <li><a href="{{ path('admin_seo_page_add') }}"> Ajouter nouvelle page</a></li>
            <li><a href="{{ path('admin_seo_pages_list') }}"> Modifier pages</a></li>
            <li><a href="{{ path('admin_seo_defaultData_modify') }}"> Changer balises SEO</a></li>
        </ul>
    </div>
</div>
