<div class="col-xs-12 col-md-12 obs__general">
    <div class="row">
        <div class="col-xs-12 obs__container">
            <div class="row">
                {% if flowType != 'mine' %}
                    <div class="col-xs-2 obs__photo-user">
                        <a href="{{ path('user_public_profile', {'slug' : obs.user.slug}) }}" target="_blank"><img
                                    class="obs__photo-user img-responsive"
                                    src="{{ (obs.user.image != '') ? asset(obs.user.imgPath ~ obs.user.image.filename) : asset('assets/img/tit_logo.png') }}"
                                    alt="Photo de profil"
                                    id="user-info__photo--load"></a>
                    </div>
                    <div class="col-xs-9 col-md-5 obs__details">
                        <a href="{{ path('user_public_profile', {'slug' : obs.user.slug}) }}" target="_blank"><strong>{{ obs.user.username }}</strong></a> {{ "a effectué une observation"|trans }}
                    </div>
                    <div class="hidden-xs col-md-5 obs__details">
                    </div>
                {% else %}
                    <div class="hidden-xs col-md-2 obs__photo-user">
                    </div>
                    <div class="col-xs-9 col-md-4 obs__details">
                        <span><strong>{{ "Vous"|trans }}</strong> {{ "avez effectué une observation"|trans }}</span>
                    </div>
                    <div class="col-xs-3 col-md-5 obs__details">
                        {% if obs.status == "started" %}
                            <span class="obs__details--status color__red">{{ "Enregistrée"|trans }}</span>
                        {% elseif obs.status == "validated" %}
                            <span class="obs__details--status color__green">{{ "Publiée"|trans }}</span>
                        {% elseif obs.status == "refused" %}
                            <span class="obs__details--status color__green">{{ "Refusée"|trans }}</span>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="col-xs-12 col-md-4 obs__details obs__details--display">
                    <img src="{{ asset('assets/img/where.png') }}" alt="{{ "Où l'avez vous vu ?"|trans }}"
                         class="obs__details--icon">
                    {{ obs.ville }}
                </div>
                <div class="col-xs-6 col-md-3 obs__details obs__details--display">
                    <img src="{{ asset('assets/img/calendar.png') }}" alt="{{ "Quand l'avez vous vu ?"|trans }}"
                         class="obs__details--icon">
                    {{ obs.date|localizeddate('none','none', '', null, 'd MMMM') }}
                </div>
                <div class="col-xs-6 col-md-3 obs__details obs__details--display">
                    <img src="{{ asset('assets/img/when.png') }}" alt="{{ "Quand l'avez vous vu ?"|trans }}"
                         class="obs__details--icon">
                    {{ obs.date|date('H:i', 'Europe/Paris') }}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <img class="img-responsive obs__photo-bird" src="{{ asset(obs.imgPath ~ obs.image.filename) }}"
                 alt="Observation">
        </div>
        <div class="hidden-xs col-md-6 obs__description--title">
            <span><strong>{{ "Description"|trans }}</strong></span>
        </div>
        <div class="hidden-xs col-md-6 obs__description">
            {{ obs.description }}
        </div>

        <div id="map{{ obs.id }}" class="col-xs-12 col-md-6 obs__map">
            <div class="map" data-lng="{{ obs.longitude }}" data-lat="{{ obs.latitude }}"></div>
        </div>
    </div>
</div>
