<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#98fb98">
    <meta name="keywords"
          content="ornithologie, association, climat, urbanisation, agriculture, biodiversité, découvrir, application, oiseaux">
    <meta name="description"
          content="Application participative gratuite visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AssociationNAO">
    <meta name="twitter:creator" content="@OpenSpirit">
    <meta property="og:title" content="Association Nos Amis les Oiseaux">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://itemik.com/professeur_tit/v1/img/logos/tit_logo.png">
    <meta property="og:description" content="Application participative gratuite visant à étudier les effets du climat,

                                      de l’urbanisation et de l’agriculture sur la biodiversité.">
    {% block stylesheet %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% if not app.user %}
            <link rel="stylesheet" href="{{ asset('assets/css/modalLogin.css') }}">
        {% endif %}
    {% endblock %}
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default header">
    <div class="container">
        <form action="" class="" id="header_form--hidden">
            <div class="form-group">
                <input type="text" name="srch-term" class="form-control border__radius--none"
                       placeholder="Rechercher une espèce...">
                <button type="submit" class="btn btn-warning border__radius--none" style="width:100%;">Envoyer</button>
            </div>
        </form>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#header__rubriques" aria-expanded="false">
                <span class="sr-only">Activer la navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="{{ asset('assets/img/search.png') }}" alt="Rechercher une espèce"
                             id="header__form--mobile"
                             class="pull-right visible-xs header__icons--mobile" style="margin-right:8px;"></a>
            {% if app.user %}
                <a href="{{ path('manage_profil_membre') }}"><img src="{{ asset('assets/img/user.png') }}" alt="Accéder à votre profil"
                                 class="pull-right visible-xs header__icons--mobile"></a>
            {% endif %}
            <img class="hidden-xs" id="header__logo--desktop" src="{{ asset('assets/img/tit_logo.png') }}"
                 alt="Professeur Tit">
            <img class="visible-xs" id="header__logo--mobile" src="{{ asset('assets/img/tit_logo.png') }}"
                 alt="Professeur Tit">
        </div>
        <div class="navbar-collapse collapse" id="header__rubriques">
            <ul class="nav navbar-nav">
                <li class="header__rubriques--name"><a href="#">Débuter l'ornithologie</a></li>
                <li class="header__rubriques--name"><a href="#">Observations</a></li>
                <li class="header__rubriques--name"><a href="#">Carte interactive</a></li>
                <form class="navbar-form hidden-xs" action="" id="header__form">
                    <div class="form-group">
                        <div id="header__form--container">
                            <input type="text" name="srch-term" id="header__form--input" class="form-control"
                                   placeholder="Rechercher une espèce...">
                            <img src="{{ asset('assets/img/search_blue.png') }}" id="header_form--icon" alt="">
                        </div>
                    </div>
                </form>
                {% if app.user %}
                    <a href="{{ path('manage_profil_membre') }}"><img
                                src="{{ asset('assets/img/user.png') }}" alt="Accéder à votre profil"
                                id="header__icon--user" class="hidden-xs"></a>
                    <li class="header__rubriques--name pull-right hidden-xs"><a href="{{ path('logout') }}">Déconnexion</a></li>
                    <li class="header__rubriques--name visible-xs"><a href="{{ path('logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="header__rubriques--name pull-right hidden-xs">
                        <a href="#" id="login-load-desktop" class="hidden-sm" data-toggle="modal" data-target="#modal-login-desktop">
                            <div class="header__rubriques--posRelative">S'inscrire
                                <div class="header__rubriques--posAbsolute">Se connecter</div>
                            </div>
                        </a>
                        <a href="#" class="visible-sm" id="login-load-mobile" data-toggle="modal" data-target="#modal-login-mobile">
                            <div class="header__rubriques--posRelative">S'inscrire
                                <div class="header__rubriques--posAbsolute">Se connecter</div>
                            </div>
                        </a>
                    </li>
                    <li class="header__rubriques--name visible-xs"><a href="#" id="login-load-mobile" data-toggle="modal" data-target="#modal-login-mobile">S'inscrire / Se
                            connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
{% block content %}
{% endblock %}
</div>

<div class="hidden-xs footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <ul>
                        <li><a href="#">Débuter l'ornithologie</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="#">Observations</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i>&nbsp;<span
                                        id="footer__logo--facebook">Facebook</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <img src="{{ asset('assets/img/tit_logo.png') }}" alt="Professeur Tit" id="footer__logo--proftit"
                         class="pull-right">
                </div>
            </div>
            <div id="footer__spacing--secondcolumn">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <ul>
                            <li><a href="#">Plan du site</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a href="#">Carte interactive</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer__spacing--thirdcolumn">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <ul>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-sm-offset-3">
                        <ul>
                            <li><a href="#">Copyright</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <img src="{{ asset('assets/img/tit_blanc.png') }}" alt="" class="pull-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="visible-xs footer">
    <div class="row">
        <div class="col-xs-12 text-center">
            <i class="fa fa-facebook-square fa-2x" style="color:#fff;"></i>
        </div>
    </div>
</div>


<!-- START Modal Desktop -->
<div class="modal fade" id="modal-login-desktop" tabindex="-1" role="dialog" aria-labelled-by="#modal-label-desktop">
    <div id="modal-load" class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-load-desktop">
        </div>
    </div>
</div>
<!-- /END Modal Desktop -->

<!-- START Modal Mobile -->
<div class="modal fade" id="modal-login-mobile" tabindex="-1" role="dialog" aria-labelled-by="#modal-label-mobile">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-load-mobile">
        </div>
    </div>
</div>
<!-- /END Modal Mobile -->


<!-- START Modal Forgotten password -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-password">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="modal-reset-password">
        </div>
    </div>
</div>
<!-- /END Modal Forgotten Password -->

{% block javascript %}

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX"
            crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $('#login-load-desktop').click(function () {
            $.ajax({
                url: "{{ path('modal_form_desktop') }}",
                method: "GET"
            }).done(function (msg) {
                $('#modal-load-desktop').html(msg);
            });
        });
        $('#login-load-mobile').click(function () {
            $.ajax({
                url: "{{ path('modal_form_mobile') }}",
                method: "GET"
            }).done(function (msg) {
                $('#modal-load-mobile').html(msg);
            });
        });
        $('#header_form--icon').click(function () {
            $('#header__form').submit();
        });

        $('#header__form--mobile').click(function () {
            $('#header_form--hidden').toggle('slow');
        });


    $('#header__form--input').autocomplete({
        source : '{{ path('getListing') }}',
        minLength: 3,
        create: function () {
            $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                return $('<li><strong>' + item.value + '</strong> / <i>' + item.label + '</i></li>').appendTo(ul);
            };
        },
        select: function (event, ui) {
            $("#header__form--input").val(ui.item.value + ' / ' + ui.item.label);
            return false;
        },
    });
    }());
</script>
{% endblock %}
</body>
</html>