<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block stylesheet %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% if not app.user %}
            <link rel="stylesheet" href="{{ asset('assets/css/modalLogin.css') }}">
        {% endif %}
    {% endblock %}
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- navbar mobile -->
<nav class="navbar navbar-default">
    <div class="container-fluid navbar__container">
        <div class="navbar-header navbar__header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar__brand-img" href="#">
                <img src="" alt="TIT">
            </a>
        </div>

        <!-- navbar -->
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav navbar">
                <li><button type="button" class="btn btn-default navbar__button">Débuter l'Ornithologie</button></li>
                <li><button type="button" class="btn btn-default navbar__button">Observations</button></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="navbar-right">
                <form class="navbar-form navbar__form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control form__controller" name="search-data" placeholder="Rechercher une espèce">
                    </div>
                    <button type="submit" class="btn-default form__btn-submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
                {% if app.user %}
                    <li><a href="{{ path('logout') }}" class="btn btn-default navbar__button" role="button">Déconnexion</a></li>
                {% else %}
                    <li><button href="" id="login-load-desktop" class="hide modal-desktop btn btn-default navbar__button" role="button" data-toggle="modal" data-target="#modal-login-desktop">Inscription / Identification</button></li>
                    <li><button href="" id="login-load-mobile" class="hide modal-mobile btn btn-default navbar__button" role="button" data-toggle="modal" data-target="#modal-login-mobile">Inscription / Identification</button></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}


<!-- footer -->
<div class="container footer__container">
    <div class="fixed-footer-bottom">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <ul class="list-unstyled clear-margins">
                <li class="widget-container widget_nav_menu">
                <li><a href="#">Débuter l'ornithologie</a></li>
                <li><a href="#">Plan du site</a></li>
                <li><a href="#">Contact</a></li>
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <ul class="list-unstyled clear-margins">
                <li class="widget-container widget_nav_menu">
                <li><a href="#">Observations</a></li>
                <li><a href="#">Carte interactive</a></li>
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <ul class="list-unstyled clear-margins">
                <li class="widget-container widget_nav_menu">
                <li><a href="https://www.facebook.com/..."><i class="fa fa-facebook-square fa-2x" id="social"></i>
                        Facebook</a></li>
                <li><a href="#">Mentions legales</a></li>
                <li><a href="#">Copyright</a></li>
                </li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a class="navbar-brand" href="#">
                <img src="" alt="TIT">
            </a>  <!-- définit la source du logo et vérifier l'alt--><!-- logo -->
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    @ 2017, OpenSpirit, All rights reserved
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="info-spirit">
                    OpenSpirit | Agence digitale media
                </div>
            </div>
        </div>
    </div>
</div>


<!-- START Modal Desktop -->
<div class="modal fade" id="modal-login-desktop" tabindex="-1" role="dialog" aria-labelled-by="#modal-label-desktop">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-load-desktop">
        </div>
    </div>
</div>
<!-- /END Modal Desktop -->

<!-- START Modal Mobile -->
<div class="modal fade" id="modal-login-mobile" tabindex="-1" role="dialog" aria-labelled-by="#modal-label-mobile">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-load-mobile">
        </div>
    </div>
</div>
<!-- /END Modal Mobile -->


<!-- START Modal Forgotten password -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-password">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="modal-reset-password">
        </div>
    </div>
</div>
<!-- /END Modal Forgotten Password -->

{% block javascript %}
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $('#login-load-desktop').click(function () {
            $.ajax({
                url: "{{ path('modal_form_desktop') }}",
                method: "GET"
            }).done(function (msg) {
                $('#modal-load-desktop').html(msg);
            });
        });
        $('#login-load-mobile').click(function () {
            $.ajax({
                url: "{{ path('modal_form_mobile') }}",
                method: "GET"
            }).done(function (msg) {
                $('#modal-load-mobile').html(msg);
            });
        });
    }());
</script>
{% endblock %}
</body>
</html>