{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/carte.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "Carte interactive"|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="col-xs-12 col-sm-3 form-group">
                <div class="input-group">
                   <input id="espece" type="text" class="form-control input-lg" placeholder="{{ "Espece"|trans }}">
                    <span class="input-group-addon"><img src="{{ asset('assets/img/search_blue.png') }}" alt="{{ "Qu'avez vous vu ?"|trans }}" class="carte__icon"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 form-group">
                <div class="input-group">
                    <input id="lieux" type="text" class="form-control input-lg" placeholder="{{ "Lieux"|trans }}">
                    <span class="input-group-addon"><img src="{{ asset('assets/img/where.png') }}" alt="{{ "Où l'avez vous vu ?"|trans }}" class="carte__icon"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 form-group">
                <div class="input-group">
                    <input id="date" type="text" class="form-control input-lg" placeholder="{{ "Date"|trans }}">
                    <span class="input-group-addon"><img src="{{ asset('assets/img/calendar.png') }}" alt="{{ "Quand l'avez vous vu ?"|trans }}" class="carte__icon"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="map">

            </div>
        </div>
    </div>

{% endblock %}



{% block javascript %}
    {{ parent() }}
    <script>
        var pathListing = "{{ path('getListing') }}";
        var lang = "{{ app.request.getLocale() }}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

    {% if app.request.getLocale() == "en" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.{{ app.request.getLocale() }}-GB.min.js"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.{{ app.request.getLocale() }}.min.js"></script>
    {% endif %}
    <script src="{{ asset('assets/js/carte.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACO55kGEkd8YeNffAaErhE02wa_UigduQ&libraries=places&callback=initMap" async defer></script>
{% endblock %}