{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/obs.css') }}">
    {% if app.user %}
        <link rel="stylesheet" href="{{ asset('assets/css/modalObs.css') }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            {% if app.user %}
            <div class="obs__actions">
                {% if app.user.image != '' %}
                    <a href="{{ path('manage_profil_membre') }}"><img class="obs__container--userImage img-rounded pull-left" src="{{ asset(app.user.imgpath ~ app.user.image.filename) }}" alt="Votre photo de profil"></a>
                {% endif %}
                <div class="obs__actions--links">
                    <p><a href="{{ path('observation_flow_user') }}">Mes observations</a></p>
                    <p><a href="#" id="obs-load-desktop" data-toggle="modal" data-target="#modal-login-desktop" data-url="{{ path('modal_add_observation') }}">Ajouter une observation</a></p>
                    {% if is_granted('ROLE_NATURALISTE') and obsAttente > 0 %}
                        <p><a href="{{ path('obs_en_attente') }}"><strong>{{ obsAttente > 1 ? obsAttente ~ ' observations' : obsAttente ~ ' observation' }} en attente</strong></a></p>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
            {% endif %}
            {% for obs in obsValidees %}
                <div class="obs__general">
                    <img class="obs__container--userImage pull-left" src="{{ (obs.user.image != '') ? asset(obs.user.imgPath ~ obs.user.image.filename) : asset('assets/img/tit_logo.png') }}">
                    <span class="obs__container--userImageText"><strong>{{ obs.user.username }}</strong> a effectué une observation</span>
                    <p class="obs__details margin-top">
                        <span><span class="fa fa-map-marker" aria-hidden="true"></span> {{ obs.ville }}</span>&nbsp;
                        <span><span class="fa fa-calendar" aria-hidden="true"></span> {{ obs.date|localizeddate('medium', 'none', null, null, 'd LLLL yyyy')    }}</span>
                        <span><span class="fa fa-clock-o" aria-hidden="true"></span> {{ obs.date|date('H:i') }}</span>
                    </p>
                    <div class="clearfix"></div>
                    <img src="{{ asset(obs.imgPath ~ obs.image.filename) }}" class="obs__container--image img-responsive pull-left" alt="Photo observation">
                    <div class="obs__container--description hidden-xs">
                         <p><strong>Description</strong></p>
                         <div class="obs__container--descriptionText">{{ obs.description }}</div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="map" data-lng="{{ obs.longitude }}" data-lat="{{ obs.latitude }}"></div>
                </div>
            {% endfor %}
            <span><strong>{% if dernierePage > 1 %}Pages {% endif %}</strong></span>{{ knp_pagination_render(obsValidees) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/home.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACO55kGEkd8YeNffAaErhE02wa_UigduQ&libraries=places&callback=initMap"></script>
{% endblock %}
