{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/obs.css') }}">
    {% if app.user %}
        <link rel="stylesheet" href="{{ asset('assets/css/modalObs.css') }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-10">
            <h1>{{ "Observations"|trans }}</h1>
        </div>
        {% if app.user %}
        <div class="col-xs-12 col-sm-2">
            <div class="background--white">
                <p><a href="{{ path('observation_flow_user') }}"> <strong>{{ "Mes observations"|trans }}</strong></a>
                </p>
                {% if is_granted('ROLE_NATURALISTE') and obsAttente > 0 %}
                    <p>
                        <a href="{{ path('obs_en_attente') }}"><strong>{{ obsAttente > 1 ? obsAttente ~ ' observations' : obsAttente ~ ' observation' }}
                                en attente</strong></a></p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="visible-xs">
                <div class="margin-top"></div>
            </div>
            <div class="add__obs">
                <a href="#" id="obs-load-desktop" class="modal-desktop" data-toggle="modal"
                   data-target="#modal-login-desktop" data-url="{{ path('modal_add_observation') }}">
                    <img class="obs__details--icon" src="{{ asset('assets/img/add_obs.jpg') }}">
                    <strong>{{ "Ajouter une observation"|trans }}</strong>
                </a>
            </div>
            {% else %}
            <div class="hidden-xs col-sm-2 background--white">
                <a href="#" id="login-load-desktop--sidebar" class="hidden-sm" data-toggle="modal"
                   data-target="#modal-login-desktop">
                    {{ "Se connecter/S'inscrire"|trans }}
                </a>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="add__obs">
                    <a href="{{ path('debuter_ornithologie') }}">
                        <img class="obs__details--icon"
                             src="{{ asset('/assets/img/debuter_ornithologie/debuter_ornitho.png') }}">
                        <strong>{{ "Débuter l'ornithologie"|trans }}</strong>
                    </a>
                </div>
                {% endif %}

                {% for obs in obsValidees %}

                    {% include 'blocks/observation.html.twig' with {'flowType': 'general'} %}

                {% endfor %}

                <span><strong>{% if dernierePage > 1 %}Pages {% endif %}</strong></span>{{ knp_pagination_render(obsValidees) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/home.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACO55kGEkd8YeNffAaErhE02wa_UigduQ&libraries=places&callback=initMap"></script>
{% endblock %}
