{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/obs.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
{% endblock %}


{% block content %}
    <div class="col-xs-12 col-sm-offset-2 col-sm-10">
        <h1>{{ "Recherche"|trans }}</h1>
    </div>
    <div class="col-xs-12 col-md-offset-2 col-md-10 padding-left--none">
        <div class="search__line">
            {% if pagination is defined %}
                <p>{{ listeTaxons|length }}{{ " réponses correspondent à \""|trans }}{{ terme }}{{ "\""|trans }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
    {% if pagination is defined %}
        {% for taxon in pagination %}
            <div class="col-xs-12 col-md-offset-2 col-md-10 padding-left--none">
                <div class="search__line">
                    {% set run = 0 %}
                    {% for obs in taxon.observations if obs.status =="validated" and run < 1 %}
                        {% set run = 1 %}
                        <img class="search__details--icon" src="{{ asset(obs.imgPath ~ obs.image.filename) }}" alt="Observation"
                             id="obs__photo">
                    {% else %}
                        <img class="search__details--icon" src="{{ asset('assets/img/tit_logo.png') }}" alt="Observation"
                             id="obs__photo">
                    {% endfor %}
                    <span><strong>  <a href="{{ path('show', {'taxon' : taxon.id}) }}">{{ taxon.nomVernaculaire }}, {{ taxon.nomLatin }}</a></strong></span>
                </div>
             </div>
        {% endfor %}
        {# display navigation #}
            <div class="col-xs-12 col-md-offset-2 col-md-10 navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    {% endif %}
    </div>

    </div>

{% endblock %}



{% block javascript %}
    {{ parent() }}

{% endblock %}
