{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/obs.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/search.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/carte.css') }}">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-10">
            <h1>{{ "Recherche"|trans }}</h1>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12 col-sm-2 background--white back_results">
                <p><strong><a href="#" id="" onClick="history.go(-1);return true;">
                    {{ "Retour aux résultats"|trans }}
                </a></strong></p>
            </div>
            <div class="col-xs-12 col-sm-10">
                    <div class="row search__presentation ">
                        <div class="col-xs-12">
                            <p><strong>{{ "Fiche Espèce"|trans }}</strong></p>
                        </div>
                        <div class="col-xs-12 vcenter show__img">
                            <div class="col-xs-4 show__img">
                                {% include 'blocks/taxon_display_obs.html.twig' %}
                            </div>
                            <div class="col-xs-8">
                                <ul>
                                    {% include 'blocks/taxon_display_info.html.twig' %}
                                    <li><strong>{{ "Nombre d'observations"|trans }}</strong> : {{ observations|length }}  </li>
                                </ul>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-8">
            <div id="map">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        var data = {{ observations|json_encode|safeRawOutput }};
        console.log(data);
        var $lang = "{{ app.request.getLocale() }}";
        var pathUser = "{{ path('user_public_profile', {'slug': 'user_slug'}) }}";
    </script>
    <script src="{{ asset('assets/js/show.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACO55kGEkd8YeNffAaErhE02wa_UigduQ&libraries=places&callback=initMap" async defer></script>
{% endblock %}
