<div class="modal-header">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="modal-title text-bold" id="modal-label-desktop">Ajout d'une nouvelle observation
                <span data-dismiss="modal" aria-label="close" class="pull-right" style="cursor:pointer;">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </span>
            </h4>
        </div>
    </div>
</div>
<div class="modal-body">
    {{ form_start(form) }}
    <div class="row form-group">
    <div class="col-xs-12">
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 modal-load-desktop__row">
                <label for="" class="col-xs-12 control-label modal-load-desktop__label">{{ "Qu'avez vous vu ?"|trans }}</label>
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ asset('assets/img/search_blue.png') }}" alt="{{ "Qu'avez vous vu ?"|trans }}" class="modal-load-desktop__icon">

                    </div>
                    <div class="col-xs-10">
                        <input id="recherche" type="text" class="form-control modal-load-desktop__input" placeholder="{{ "Nom de l'espece"|trans }}"/>
                        {{ form_widget(form.taxon, {'attr': {'class' : 'form-control modal-load-desktop__input hidden', 'placeholder': "Nom de l'espece"|trans}}) }}
                        {{ form_errors(form.taxon) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 modal-load-desktop__row">
                <label for="" class="col-xs-12 control-label modal-load-desktop__label">{{ "Où l'avez vous vu ?"|trans }}</label>
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ asset('assets/img/where.png') }}" alt="{{ "Où l'avez vous vu ?"|trans }}" class="modal-load-desktop__icon">
                    </div>
                    <div class="col-xs-10">
                        <div class="input-group">

                            <input id="pac-input" type="text" class="form-control modal-load-desktop__input" placeholder="{{ "Ville, coordonnées GPS"|trans }}"/>
                            <span id="location" class="input-group-addon"><i class="fa fa-compass fa-2x" aria-hidden="true"></i></span>
                        </div>


                      {{ form_widget(form.longitude, {'attr': {'class' : 'form-control modal-load-desktop__input hidden' }}) }}
                         {{ form_errors(form.longitude) }}

                        {{ form_widget(form.latitude, {'attr': {'class' : 'form-control modal-load-desktop__input hidden' }}) }}
                        {{ form_errors(form.latitude) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 modal-load-desktop__row">
                <label for="" class="col-xs-12 control-label modal-load-desktop__label">{{ "Quand l'avez vous vu ?"|trans }}</label>
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ asset('assets/img/when.png') }}" alt="{{ "Quand l'avez vous vu ?"|trans }}" class="modal-load-desktop__icon">
                    </div>
                    <div class="col-xs-10">
                        {{ form_widget(form.date) }}
                        {{ form_errors(form.date) }}
                        {#<input type="text" class="form-control modal-load-desktop__input" placeholder="{{ "Date, heure"|trans }}"/>#}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 modal-load-desktop__row">
                <label for="description" class="col-xs-12 control-label modal-load-desktop__label">{{ "Ajoutez une description"|trans }}</label>
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ asset('assets/img/logo-droite.png') }}" alt="{{ "Professeur TIT"|trans }}" class="modal-load-desktop__icon--logo">
                    </div>
                    <div class="col-xs-10  modal-load-desktop__bubble">
                        <p>{{ "Info du professeur TIT"|trans }}</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    {{ form_widget(form.description, {'attr': {'class' : 'form-control modal-load-desktop__textarea', 'rows' : '12', 'placeholder': "Decrivez l'oiseau que vous avez observé"|trans}}) }}
                  {# <textarea id="description" class="form-control modal-load-desktop__textarea" rows="5">{{ "Decrivez l'oiseau que vous avez observé"|trans }}</textarea>#}
                </div>
            </div>



        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 modal-load-desktop__row">
                <label for="" class="col-xs-12 control-label modal-load-desktop__label">{{ "Ajoutez une photo à votre observation"|trans }}</label>
               {# {{ form_widget(form.photoPath) }}#}
                    <div class="col-xs-12 modal-load-desktop__image">
                    </div>
                <img src="{{ asset('assets/img/trash.png') }}" alt="{{ "Supprimer photo"|trans }}" class="modal-load-desktop__icon--small">
            </div>
            <div class="col-md-offset-6 col-xs-6 modal-load-desktop__row">
                <button type="button" class="btn-block modal-load-desktop__btn modal-load-desktop__btn--red">{{ "Supprimer"|trans }}</button>
            </div>
            <div class="col-md-offset-6 col-xs-6 modal-load-desktop__row">
                <button id="btn-publish" type="submit" class="btn-block modal-load-desktop__btn modal-load-desktop__btn--blue">{{ "Publier"|trans }}</button>
            </div>
        </div>
    </div>
</div>
    {{ form_end(form) }}
</div>

<script>
    function initMap() {
        var input = (document.getElementById('pac-input'));
        var options = {
            componentRestrictions: {country: 'fr'}
        };
        var autocomplete = new google.maps.places.Autocomplete(input, options);

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("{{ "Selectionnez un lieu dans la liste SVP"|trans }}");
                return;
            }
            $('#obs_form_longitude').val(place.geometry.location.lng().toFixed(10));
            $('#obs_form_latitude').val(place.geometry.location.lat().toFixed(11));
        });
    }


    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }
    function showPosition(position) {
        $('#obs_form_longitude').val(position.coords.longitude);
        $('#obs_form_latitude').val(position.coords.latitude);
        $('#pac-input').val(position.coords.latitude + " " + position.coords.longitude);
    }



    $('#recherche').autocomplete({
        source : '{{ path('getListing') }}',
        minLength: 3,
        create: function () {
            $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                return $('<li><strong>' + item.value + '</strong> / <i>' + item.label + '</i></li>').appendTo(ul);
            };
        },
        select: function (event, ui) {
            $("#recherche").val(ui.item.value + ' / ' + ui.item.label);
            $("#obs_form_taxon").val(ui.item.label);
          //  $('#obs_form_taxon option:contains(ui.item.label)').prop('selected', true);
            // $("#project-id").val(ui.item.value);
            //   $("#project-description").html(ui.item.desc);
            //   $("#project-icon").attr("src", "images/" + ui.item.icon);
            return false;
        },
    });
    $('#btn-publish').click(function(e) {
        e.preventDefault();
        var $formData = $('form').serializeArray();
        $.ajax({
            url: "{{ path('obs_publish') }}",
            method: "POST",
            data: $formData,
            statusCode: {
                201: function (msg) {
                    console.log(msg);
                    $('#modal-load-desktop').html(msg);
                },
                200: function () {
                    document.location.href='{{ path('observation') }}';
                }
            }
        });
    });

    $('#location').click(function() {getLocation();});

    $('#obs_form_taxon').append('<option value="" selected></option>')
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACO55kGEkd8YeNffAaErhE02wa_UigduQ&libraries=places&callback=initMap" async defer></script>