{% extends 'base.html.twig' %}
{% form_theme form 'foundation_5_layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-xs-12 visible-xs text-center" id="user-observations--mobile">
               <img src="{{ asset('assets/img/observation.png') }}" class="user-info__stats"
                     alt="Mes observations" style="margin:0 10px 0 0;">
                <a href="{{ path('observation_flow_user') }}" class=" user-info__stats--text text--bold" style="display:inline-block;">Mes observations</a>
            </div>
            <div class="col-xs-offset-2 col-xs-10 padding-left--none hidden-xs">
                <h1>Mon profil</h1>
            </div>
            <div class="col-xs-12 visible-xs text-center">
                <h1>Mon profil</h1>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-2 hidden-xs">
                <div id="user-observations" class="text-center">
                    <a href="{{ path('observation_flow_user') }}" class="text--bold">Mes observations</a>
                </div>
            </div>
            <div class="col-sm-10 user-info col-xs-12">
                <div class="col-sm-12">
                    <p id="user-info__username" class="text--bold">{{ app.user.username }}</p>
                </div>
                <div class="col-sm-12 col-xs-12">
                    {{ form_start(form) }}
                    <div id="user-info__photo" class="pull-left">
                        <div id="user-info__photo--button">
                            {% if app.user.image != '' %}
                                <img src="{{ (app.user.image.filename) is defined ? asset(app.user.imgpath ~ app.user.image.filename) :  asset(app.user.imgpath ~ app.user.image) }}" alt="Votre photo de profil"
                                     id="user-info__photo--load">
                            {% endif %}
                            {{ form_widget(form.image, { 'attr' : {'class' : 'user-info__photo--file'}}) }}
                            {% if app.user.image == '' %} Ajouter une photo {% endif %}
                        </div>
                        {% if app.user.image != '' %}
                            <a href="{{ path('user_delete_image') }}"><img
                                        src="{{ asset('assets/img/trash.png') }}" id="user-info__photo--trash"
                                        alt="Supprimer la photo"></a>
                        {% endif %}
                    </div>
                    <img src="{{ asset('assets/img/calendar.png') }}" class="pull-left" id="user-info__calendar"
                         alt="Date d'inscription">
                    <p id="user-info__dateinscription">Inscrit depuis le {{ registerDate }}
                        <button type="button" class="button pull-right"><a
                                    href="{{ path('user_delete') }}">Supprimer mon profil</a>
                        </button>
                    </p>
                    {{ form_label(form.description) }}<br/>
                    {{ form_widget(form.description) }}
                    <button type="submit" class="button pull-right" formnovalidate>Modifier</button>
                    <br/>
                    {{ form_label(form.email) }}<br/>
                    <img src="{{ asset('assets/img/mail.png') }}" class="pull-left" id="user-info__mail"
                         alt="Votre email">{{ form_widget(form.email, { 'attr' : {'class' : 'user-info__mail--input'}}) }}
                    <button type="submit" class="button pull-right" formnovalidate>Modifier</button>
                    <br/>
                    <span style="color:red;">{{ form_errors(form.email) }}</span>
                    {{ form_row(form.isEmailVisible) }}
                    {{ form_end(form) }}
                    <img src="{{ asset('assets/img/observation.png') }}" class="user-info__stats pull-left"
                         alt="Votre nombre d'observations">
                    <p class="user-info__stats--text">Vous avez effectué<strong>
                            {{ nbObservations }} {{ nbObservations > 1 ? 'observations' : 'observation' }}</strong>
                    </p>
                    <img src="{{ asset('assets/img/observation_valide.png') }}" class="user-info__stats pull-left"
                         alt="Votre nombre d'observations validées">
                    <p class="user-info__stats--text">
                        <strong>{{ obsValidees }}</strong>&nbsp;{{ obsValidees < 2 ? 'observation a été validée' : 'de vos observations ont été validées' }}
                    </p>
                    {% if is_granted('ROLE_NATURALISTE') %}
                        <img src="{{ asset('assets/img/naturaliste.png') }}" class="user-info__stats pull-left"
                             alt="Vous êtes naturaliste">
                        <p class="user-info__stats--text">Vous êtes certifiés naturaliste par NAO.</p>
                    {% elseif is_granted('ROLE_PENDING_NATURALISTE') %}
                        <p class="user-info__stats--text">Vous êtes un naturaliste en attente de validation.</p>
                    {% else %}
                        <p class="user-info__stats--text">Vous êtes observateur.</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('#profil_form_image').change(function () {
            $('form').submit();
        });
    </script>
{% endblock %}
